<header>
    <h1>Audios del Fiscal, Cashtor, PacU y el Loco</h1>
    <nav>
        <ul>
            <li><a href="index.html">Facebook</a></li>
            <li><a href="acerca.html">Youtube</a></li>
            <li><a href="contacto.html">Instagram</a></li>
        </ul>
    </nav>
    
    <div class="container">
      <div class="card">
        <h3 class="title">Cashto</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <img src="../../assets/images/cashto.jpg" alt="EL fotografo del mal">
        </div>
      </div>
      <div class="card">
        <h3 class="title">Pacu</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <img src="../../assets/images/pacu.jpg" alt="EL fotografo del mal">
        </div>
      </div>
      <div class="card">
        <h3 class="title">El Fiscal</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <img src="../../assets/images/el_fiscal.jpg" alt="EL fotografo del mal">
        </div>
      </div>
      <div class="card">
        <h3 class="title">El Loco</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <img src="../../assets/images/erick_delgado.jpg" alt="EL fotografo del mal">
        </div>
      </div>
    </div>

</header>