<footer>
    <section class="contacto">
        <h3>Contacto</h3>
        <p>Para consultas y comentarios, contáctanos en <a href="mailto:correo@tuempresa.com">correo@tuempresa.com</a></p>
    </section>
    <section class="redes-sociales">
        <h3>Síguenos en Redes Sociales</h3>
        <!-- Agrega enlaces a tus perfiles de redes sociales -->
        <a href="https://www.facebook.com/tupagina" target="_blank">Facebook</a>
        <a href="https://twitter.com/tupagina" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/tupagina" target="_blank">Instagram</a>
    </section>
</footer>