/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }



.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  background: #1909725e;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
.carousel-cell-image-container {
    /* Ancho del 80% del contenedor */
    width: 65%;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
}
/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.flickity-slider{
    translate: (0%);
}
