<div class="carousel-container">
  <div class="carousel" data-flickity='{ "lazyLoad": true }'>
    <div class="carousel-cell">
      <div class="carousel-cell-image-container">
        <img class="carousel-cell-image" data-flickity-lazyload="../../assets/images/el_fiscal.jpg"
          alt="El fotografo del mal" />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="carousel-cell-image-container">
        <img class="carousel-cell-image" data-flickity-lazyload="../../assets/images/cashto.jpg"
          alt="El fotografo del mal" />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="carousel-cell-image-container">
        <img class="carousel-cell-image" data-flickity-lazyload="../../assets/images/pacu.jpg"
          alt="El fotografo del mal" />
      </div>

    </div>
    <div class="carousel-cell">
      <div class="carousel-cell-image-container">
        <img class="carousel-cell-image" data-flickity-lazyload="../../assets/images/erick_delgado.jpg"
          alt="El fotografo del mal" />
      </div>
    </div>

    <div class="carousel-cell">
      <div class="carousel-cell-image-container">
        <img class="carousel-cell-image" data-flickity-lazyload="../../assets/images/negrini_yimbo.jpg"
          alt="El fotografo del mal" />
      </div>
    </div>
  </div>
</div>