@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pacifico&display=swap');
main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nuevos {
    margin-bottom: 20px;
}

.nuevos h2 {
    font-size: 1.5em;
}

.destacados h2, .hot h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contacto, .redes-sociales {
    margin: 20px 0;
}

.button__container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 45px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
.sound__button {
    display: flex;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: rgb(190, 18, 18); /* Rojo */
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -1px 3px 10px #000000, inset 0px 1px 50px #522727;

    /*overflow: hidden; /* Para ocultar el fondo del enlace */
}

.link__sound:before {
    content: "";
    display: block;
    background: rgb(240, 0, 0);; /* Rojo *//*Borde del boton */
    border-top: 1px solid #c0392b;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 50px #8a0c0c; /*Borde del boton */
}

.link__sound {
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #131414, inset 0px 1px 1px #353434;
    color: #fff; /* Texto en blanco */
    /*transition: background-color 0.3s, color 0.3s; /* Efecto de transición de color */
}

.link__sound:hover {
    cursor: pointer;
    background-color: rgb(190, 17, 17);
    box-shadow: -1px 3px 10px #000000, inset 0px 1px 50px #333131;
; /* Rojo más oscuro */
    color: #fff; /* Texto en blanco */
}

.link__sound:active {
    box-shadow: 0px 3px 4px #000000 inset, -1px -2px 6px hwb(0 12% 19%);
}

.text__button {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff; /* Texto en blanco */
    font-weight: 300;
    font-size: 1.3em;
}

.text__button:hover {
    color: #fff; /* Texto en blanco al pasar el mouse */
}
.tag__btn{
    display: flex;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      justify-content: space-between;
      align-items: center;
  }
  .tag__btn span{
    text-shadow: -1px -1px rgb(68, 68, 68), 1.5px 1.5px rgb(56, 56, 56);
    font-family: 'Oleo Script';
    cursor: default;
  }
  .new__text{
    color: yellow;
    
  }
  .right__tag{
    color: orange;
    cursor: pointer	!important;
  }
  .top__text{
    color: rgb(44, 215, 29);
    
  }
  .hot__text{
    color: orange;
    
  }
  .right__tag .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .right__tag:hover .tooltiptext {
    visibility: visible;
  }
.pagination__container{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
  }
  .pagination-controls-gotito{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }